<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Taskr</title>

  <link rel="stylesheet" href="/vendor/ionic/css/ionic.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/task.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

  <script src="http://code.ionicframework.com/1.0.0-beta.13/js/ionic.bundle.js"></script>
  <script src="/components/angular-touch/angular-touch.min.js"></script> 
  <script src="/components/lodash/dist/lodash.min.js"></script>
  <script src="/components/restangular/dist/restangular.min.js"></script>

  <script src="/components/firebase/firebase.js"></script>
  <script src="/components/angularfire/dist/angularfire.min.js"></script>

  
  <script src="/models/task.js"></script>
  <script src="/app.js"></script>
  <script src="/services/user.js"></script>
  <script src="/services/auth.js"></script>
  <script src="/controllers/auth.js"></script>

</head>
<body ng-app="myApp" class="content">

  <div class="list card">
    <div class="item item-image">
      <img src="/taskr.jpg">
    </div>
  </div>  

<div ng-controller="AuthCtrl" >

  <div> {{registerMessage}}</div>
  <form ng-submit="register(user)" name="form"  ng-show="show=='register'">  
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="user.email">
      </label>
       <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="user.fn">
      </label>
       <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="user.ln">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    
      <input class="button button-full button-block button-positive" type ="submit" value="Register" > </input>
     Already have an account? <a href="" ng-click="show='login'"> Login</a> here.
  </form>

  <form ng-submit="login(user)" name="form" ng-show="show=='login'">  
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    

      <input class="button button-full button-block button-positive" type ="submit" value="Login" ></input>
    Don't have an account yet? <a href="" ng-click="show='register'"> Register</a> Here
  </form>



</div>



</body>
</html>
